* {
    font-family:sans-serif;
    color: rgb(131, 88, 233);
    text-align: center;
}

nav p {
    display: inline;
    margin: 5px
}


.parent {
    position: relative
}

.caption {
    color: white;
    font-size: 50px;
    background-color: lightblue;
    border: solid blueviolet;
    position: absolute;
    right: 0px;
    bottom: 40px
}

.photo-margin {
    margin: 10px
}

.size1 {
    width: 200px;
    height: 300px
}
.size2 {
    width: 500px;
    height: 500px;
    margin: 10px
}

.size-large {
    width: 1000px;
    height: 1000px;
    margin: 10px
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#solo-photo {
    width: 70%;
    height: auto;
    margin: 10px
}

#center {
    text-align: center
}
